<tr class="fs-5">
    <td >
        %%FORM_OPEN_HTML%%
        <div class="row">
            <div class="col text-nowrap">Job Number: <span id="job_number" name="jobNumber_%%JOB_ID%%">%%TEXT_JOB%%</span> <p id="p6"></p> </div>
            <div class="col text-nowrap  text-md">%%TEXT_CLOSE%%</div>
            <div class="col text-end">%%NUM_OF_FORMS%%</div>
        </div>
        <div class="row mb-2">
            <div class="container btn-group btn-group-lg" role="group">
                %%FORM_BUTTONS_HTML%%
            </div>
        </div>
        %%FORM_CLOSE%%
    </td>
</tr>
