*/.database/*
config.ini
composer.lock
.database/cwp_sqlite.db
config.ini
.database/cwp_sqlite.db
database/cwp_sqlite.db
www/php_errors.log
.config.true
Media Load Flags/*
vendor/*
www/.files
**/php_errors.log
.gitignore
.database/using_mysql.db
www/files/*
www/updater/download/
config/boot.php
database/using_mysql.db
www/updater/update.log
www/updater/update.log
update.log
cache/*
AppUpdates/previous.txt
delete.txt
vendor/**
vendor/*
vendor/composer/installed.json
current.txt
database/cwp_sqlite.bk
