
<div class="row">
    <label class="col-sm-3  text-center ">Add New Setting</label>
</div>
<div class="row">
<div class="col-sm-3 ">Constant Name</div>
    <div class="col-sm-5 ">
        <input type="text" name="setting_definedName" class="form-control" placeholder="New Setting" aria-label="New Setting">
    </div>
</div>
<div class="row">
<div class="col-sm-3 ">Constant Value</div>
    <div class="col-sm-5">
        <input type="text" name="setting_value" class="form-control" placeholder="default value" aria-label="Default value">
    </div>
</div>
<div class="row">
<div class="col-sm-3 ">Descriptive Name</div>
    <div class="col-sm-5">
        <input type="text" name="setting_name" class="form-control" placeholder="Descriptive Label" aria-label="Descriptive Label">
    </div>
</div>
<div class="row">
<div class="col-sm-3 ">Description</div>
    <div class="col-sm-5">

        <input type="text" name="setting_description" class="form-control" placeholder="setting description" aria-label="setting description">
    </div>
</div>
<div class="row">
<div class="col-sm-3 ">Constant Type</div>
    <div class="col-sm-3 ">
        <select name="setting_type" class="form-select" size="2" aria-label="Setting Type">
            <option value="bool">Boolean</option>
            <option value="text">Text</option>
            <option value="array">List</option>
        </select>
    </div>
</div>