<form action="%%__URL_PATH__%%/process.php" name="MyForm" id="MyForm" method="post" accept-charset="utf-8">
    <input type="hidden" name="TRIM_UPDATE" value="trim">

    <div class="container w-75 mt-5">
        <div class="row g-1 bg-dark text-light justify-content-center fw-bold p-3 align-middle">
            <div class="col-sm-6 fs-6 text-nowrap">Publication</div>
            <div class="col-sm fs-6 text-nowrap">Bind Style</div>
            <div class="col-sm fs-6 text-nowrap">Head Trim</div>
            <div class="col-sm fs-6 text-nowrap">Foot Trim</div>
            <div class="col-sm-2 fs-6 text-nowrap">Delivered Size</div>
        </div>


        %%TEXTBOX_HTML%%
        <div class="row g-1">
            <div id="_submit" class="form-group col-sm-9">
                <label class="sr-only" for="submit"></label>
                <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

</form>