
    <form action="%%__PROCESS_FORM__%%" method="post" class="w-50  rounded bg-success" style="--bs-bg-opacity: .5;">
        <input type="hidden" name="job_id" value="%%JOB_ID%%">
        <input type="hidden" name="send_mail" value="send">
        <div class="mb-3">
          <label for="InputEmail" class="form-label p-2">Email address</label>
          <input type="email" class="form-control mx-2 w-75" id="InputEmail" aria-describedby="emailHelp" name="mailto">
        </div>
        <div class="mb-3">
            <label for="InputName" class="form-label p-2">Name of Recpt</label>
            <input type="text" class="form-control mx-2 w-75" id="InputName" aria-describedby="nameHelp" name="rcpt_name">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>