<tr>
  <td colspan="4" class=" text-end">All Parts&nbsp;&nbsp;&nbsp;</td>
  <td class=" text-start">
    <input type="radio" onclick="checkAll%%LETTER%%($(this));" name="All%%LETTER%%" class="%%ALLCHECKBOXFRONT%%" />
    Front

    <input type="radio" onclick="checkAll%%LETTER%%($(this));" name="All%%LETTER%%" class="%%ALLCHECKBOXBACK%%" />
    Back

    <script type="text/javascript">
      function checkAll%%LETTER%% (e) {

        if (e.hasClass('%%ALLCHECKBOXFRONT%%')) {

          $('.%%CLASSFRONT%%').attr('checked', 'checked');
          $('.%%CLASSBACK%%').attr('checked', false);
        } else {
          $('.%%CLASSFRONT%%').attr('checked', false);
          $('.%%CLASSBACK%%').attr('checked', 'checked');
        }
      }
    </script>
  </td>
  <td class=""></td>
</tr>