<div class="row">
    <div class="col-3"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">All Parts</div>
    <div class="col-4 align-content-end">
        <input type="radio" name="All%%LETTER%%" class="%%ALLCHECKBOXFRONT%% btn-check" autocomplete="off"
            id="Front-%%LETTER%%-outlined" />
        <label name="All%%LETTER%%" class="btn btn-outline-success %%ALLCHECKBOXFRONT%% "
            for="Front-%%LETTER%%-outlined" onclick="checkAll%%LETTER%%($(this));">Front</label>

        <input type="radio" name="All%%LETTER%%" class="%%ALLCHECKBOXBACK%% btn-check" autocomplete="off"
            id="Back-%%LETTER%%-outlined" />
        <label name="All%%LETTER%%" class="btn btn-outline-success %%ALLCHECKBOXBACK%% " for="Back-%%LETTER%%-outlined"
            onclick="checkAll%%LETTER%%($(this));">Back</label>

        <script type="text/javascript">
            function checkAll%% LETTER %% (e) {

                console.log(e);
                if (e.hasClass('%%ALLCHECKBOXFRONT%%')) {

                    $('.%%CLASSFRONT%%').attr('checked', 'checked');
                    $('.%%CLASSBACK%%').attr('checked', false);
                } else {
                    $('.%%CLASSFRONT%%').attr('checked', false);
                    $('.%%CLASSBACK%%').attr('checked', 'checked');
                }
            }
        </script>
    </div>
</div>