<form action="%%FORM_URL%%" method="post">

    <div class="container table table-dark">
        <div class="row">
            <div class="fs-3 row">
                <div class="text-center nowrap col">%%NAME%%</div>
            </div>
            <div class="row">
                <div class="text-center nowrap col">
                    <div class="btn-group">
                        %%FORM_LIST_HTML%%
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center nowrap col">
                    <div class="btn-group">
                        %%FORM_BUTTONS%%
                    </div>
                </div>
            </div>
        </div>
        <div class="table table-success row">
            <div class="col">
                %%FORM_BODY_HTML%%
            </div>
        </div>
    </div>

    <input type="hidden" name="form_number" value="%%NEXT_FORM_NUMBER%%">
    <input type="hidden" name="prev_form_number" value="%%PREV_FORM_NUMBER%%">

    <input type="hidden" name="job_id" value="%%JOB_ID%%">
    <input type="hidden" name="view" value="%%NEXT_VIEW%%">
</form>