<div class="card ">
    <div class="card-header bg-success  text-black fw-bold">
        Import from Gmail
    </div>
    <div class="card-body bg-success" style="--bs-bg-opacity: .5;">

        <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01">Job Name</label>
            <select name="mail_file" class="form-select" id="inputGroupSelect01">
                %%EMAIL_IMPORT_PDF%%
            </select>
        </div>



        <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect02">Job Number</label>
            <select name="mail_job_number" class="form-select" id="inputGroupSelect02">
                %%EMAIL_JOB_NUMBER%%
            </select>
        </div>
    </div>
</div>