<form action="%%__URL_PATH__%%/process.php"  method="post" class="w-50  rounded bg-success" style="--bs-bg-opacity: .5;" enctype="multipart/form-data">
	<input type="hidden" name="FORM_PROCESS" value="Importing PDF File">
	<div class="mb-3">
	  <label for="jobNumber" class="form-label p-2">Job Number</label>
	  <input type="text" class="form-control mx-2 w-75" id="jobNumber" aria-describedby="jobHelp" name="job_number">
	</div>
	<div class="mb-3">
		<label for="fileToUpload" class="form-label p-2">File</label>
		<input type="file" class="form-control mx-2 w-75" id="fileToUpload" aria-describedby="fileHelp" name="the_file">
	  </div>
	<button type="submit" class="btn btn-primary"  name="submit" value="Start Upload">Submit</button>
  </form>
