<form action="%%FORM_URL%%" method="post">
    <table class="table table-dark">
        <thead>
            <tr class="fs-3">
                <th class="text-start nowrap">%%NAME%%</th>
                <th class="text-end nowrap">
                    <div class="btn-group">
                        %%FORM_LIST_HTML%%
                    </div>
                </th>

            </tr>
        </thead>
        <tbody class=" table-success">

            %%FORM_BODY_HTML%%

        </tbody>
    </table>

    <input type="hidden" name="form_number" value="%%NEXT_FORM_NUMBER%%">
    <input type="hidden" name="job_id" value="%%JOB_ID%%">
    <input type="hidden" name="view" value="%%NEXT_VIEW%%">
</form>