.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*
.table-success {
    background: #fff;

} */

.col-lg-12 {
    padding-bottom: 5px;
    background: #d1e7dd;
}
.col-lg-12:nth-child(2n) {
    padding-bottom: 5px;
    background: rgba(0, 0, 0, 0.125);
}


