<form action="%%__FORM_URL__%%" method="post" class="w-25 m-3 rounded bg-success" style="--bs-bg-opacity: .5;"
    enctype="multipart/form-data">
    <div class="card">
        <div class="card-header bg-success  text-black fw-bold">Login</div>
        <div class="card-body bg-success" style="--bs-bg-opacity: .5;">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Username</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" name="username">
            </div>
        </div>
        <div class="card-body bg-success" style="--bs-bg-opacity: .5;">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                    aria-describedby="basic-addon1" name="password">
            </div>
        </div>
        <div class="card-body bg-success" style="--bs-bg-opacity: .5;">
            <div class="form-check">
                <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                <input class="form-check-input" type="checkbox" name="remember" value="1" id="flexCheckDefault">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" name="submit" value="login">Submit</button>
        %%REGISTER%%
        <a href="/login/forgot.php" class="btn btn-info" role="button">Forgot Password</a>

    </div>
</form>