<table class="tg">
    <colgroup>
        <col style="width: %%WIDTH%%">
        <col style="width: %%WIDTH%%">
        <col style="width: %%WIDTH%%">
        <col style="width: %%WIDTH%%">
    </colgroup>
    <thead>
        <tr>
            <th class="tg-mnhx" colspan="4">%%LAYOUT_NUMBER%%</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="tg-operator vertical-text" rowspan="2">Front</td>
            <td class="tg-9wq8">%%FRONT_TOP%%</td>
            <td class="tg-9wq8">%%BACK_TOP%%</td>
            <td class="tg-gear vertical-text" rowspan="2">Back</td>
        </tr>
        <tr>
            <td class="tg-9wq8">%%FRONT_BOTTOM%%</td>
            <td class="tg-9wq8">%%BACK_BOTTOM%%</td>

        </tr>
    </tbody>
</table>