<form action="%%__URL_PATH__%%/process.php" name="MyForm" id="MyForm" method="post" accept-charset="utf-8">
    <input type="hidden" name="FORM_PROCESS" value="Updating user settings">
    <input type="hidden" name="cat" value="%%CATEGORY%%">
    <div id="_submit" class="form-group">
        <label class="sr-only" for="submit"></label>
        <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
    </div>

%%CHECKBOX_HTML%%

%%TEXTBOX_HTML%%

%%ARRAY_HTML%%

%%LIST_HTML%%

%%SETTINGS_HTML%%

<div id="_submit" class="form-group">
        <label class="sr-only" for="submit"></label>
        <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
