<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="%%APP_DESCRIPTION%%">
    <meta name="author" content="%%APP_OWNER%%">
    <title>%%APP_NAME%% | %%TITLE%%</title>

    <link rel="icon" type="image/png" href="%%__URL_LAYOUT__%%/images/favicon.png">
    <!-- Custom styles -->


    %%BOOTSTRAP%%
    %%DEFAULT_CSS%%
    <script src="%%__URL_LAYOUT__%%/js/app.js?fsda"></script>
    <link rel="stylesheet" href="%%__URL_LAYOUT__%%/css/app.css?$%g">


    %%CUSTOM_CSS%%
    %%__CUSTOM_JS__%%

</head>

<body %%__ONLOAD__%%>

    %%__NAVBAR__%%
    %%__MSG__%%

<main role="main" class="container mt-1">

    <!-- end of header.php -->