#RedHead,
.RedHead {
    border: 0px solid #1C6EA4;
    background-color: #1ABB17;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 22px;
    font-weight: bold;
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);

    border-bottom: 2px solid #444444;
}


table.blueTable {
    border: 0px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    border-bottom: 2px solid #444444;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}



table.blueTable td,
table.blueTable th {
    border: 0px solid #AAAAAA;
    /*	padding: 3px 2px;*/
}

table.blueTable tbody td {
    font-size: 18px;
}

table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}

table.blueTable thead {
    background: #1C6EA4;

    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

table.blueTable thead th {
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
}

table.blueTable thead th:first-child {
    border-left: none;
}