<!------ --------------------------------->
<div class="container table table-dark m-75">
    <div class="table table-success row p-2 m-3 rounded bg-success">
        <div class="text-center nowrap col fw-bold">%%NAME%%</div>
    </div>
    <div class="table table-success row p-2 m-3 rounded bg-success">
        <div class="col">
            <div class="card ">

                <div class="card-header bg-success"> Existing Forms </div>

                <div class="card-body bg-success" style="--bs-bg-opacity: .2;">
                    <div class="text-start nowrap col">
                        <div class="btn-group">
                            %%FORM_BUTTONS%%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        %%TEXT_FORMS%%
</div>

<!------ --------------------------------->