<tr>
    <td align="center" valign="middle">
        <input type="checkbox" name="%%ROW_ID%%_delete" id="%%ROW_ID%%_delete" value="1">
    </td>
    <td align="center" valign="middle">
        <input type="checkbox" name="%%ROW_ID%%_split"  id="%%ROW_ID%%_split" value="1">
    </td>
    <td width="30">
        <input class="formbox" type="text" name="%%ROW_ID%%_formletter" id="%%ROW_ID%%_formletter"  placeholder="%%ROW_LETTER%%" value=""  onclick="editPlaceholder(this.id)" 
        onfocusout="checkValue(this.id)">
    </td>
    <td nowrap>
        <span class="text-capitalize f-6">%%ROW_DESC%%</span>
    </td>
    <td nowrap>
        <input class="formbox" type="text" name="%%ROW_ID%%_pcscount" placeholder="%%PCS_COUNT%%" value="" onclick="editPlaceholder(this.id)" onfocusout="checkValue(this.id)">
    </td>
    <td nowrap>
        <input type="radio" class="Front%%ROW_LETTER%%" id="Front_%%ROW_LETTER%%_%%ROW_ID%%" name="%%ROW_ID%%_former" value="" onclick="editRadioValue(this.id)" %%CHECK_FRONT%%>Front&nbsp;
        <input type="radio" class="Back%%ROW_LETTER%%" id="Back_%%ROW_LETTER%%_%%ROW_ID%%" name="%%ROW_ID%%_former" value="" onclick="editRadioValue(this.id)" %%CHECK_BACK%%>Back&nbsp;
    </td>
    <td nowrap>
        <input type="checkbox" name="%%ROW_ID%%_facetrim" value="%%FT_VALUE%%">Face Trim
    </td>
</tr>