<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="%%APP_DESCRIPTION%%">
	<meta name="author" content="%%APP_OWNER%%">
	<title>%%APP_NAME%%|%%TITLE%%</title>

	<link rel="icon" type="image/png" href="%%__URL_LAYOUT__%%/images/favicon.png">
	<!-- Custom styles -->
	<link rel="stylesheet" href="%%__URL_LAYOUT__%%/css/app.css?$%g">
	<link rel="stylesheet" href="%%__URL_LAYOUT__%%/css/custom.css?%#$%43435"> 
	<script src="%%__URL_LAYOUT__%%/js/app.js"></script>
	
	%%BOOTSTRAP%%

 %%__CUSTOM_JS__%%
 
</head>
<body %%__ONLOAD__%%>
%%__NAVBAR__%%
<!-- end of header.php -->