<tr>
    <td colspan="2">
        <table class="table table-success  table-striped">
            <tr>
                <td class="fs-6" colspan="6">
                    <div class="table-group-divider">
                       <!--  <div class="mx-auto row"> -->
                            <div class="bg-secondary fs-4 mw-100 "> %%NUMBER%%%%LETTER%% </div>
                        <!-- </div> -->
                        
                    </div>
                </td>
            </tr>
            %%ROWS%%
        </table>
    </td>
</tr>