<main role="main" class="container mt-1">
    <div class="container table table-dark m-75">
        <div class="table table-success row w-50 p-4 m-3 rounded bg-success">

            <div class="text-center nowrap col fw-bold">Add Forms to Job</div>
        </div>

        <div class="table table-success row w-50 p-4 m-3 rounded bg-success">
            <div class="col">
                <div class="card w-50">

                    <div class="card-header bg-success"> Existing Forms </div>

                    <div class="card-body bg-success" style="--bs-bg-opacity: .2;">
                        <div class="text-center nowrap col">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>