<div class="row gy-2 gx-3 mb-2">
    <div class="col-auto">
        <input type="hidden" name="id" value="%%EMAIL_ID%%">
        <label class="visually-hidden" for="autoSizingInput">Name</label>
        <input type="text" class="form-control" id="autoSizingInput" placeholder="Email Rcpt Name" value="%%EMAIL_NAME%%" name="name">
    </div>
    <div class="col-sm-4">
        <label class="visually-hidden" for="autoSizingInputGroup">Email Address</label>
        <div class="input-group">
            <div class="input-group-text">@</div>
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Email Address" name="email" value="%%EMAIL%%">
        </div>
    </div>
</div>