<div class="row g-1">
    <div class="col-sm-6">%%PUBLICATION%%</div>
    <div class="col-sm">%%BIND%%</div>
    <div class="col-sm">
        <input type="text" name="%%NAME%%_head" aria-label="Head Trim" class="form-control" placeholder="%%HEAD_TRIM%%"
        %%HEAD_STYLE%% value="%%HEAD_TRIM_V%%">
    </div>
    <div class="col-sm"> 
        <input type="text" name="%%NAME%%_foot" aria-label="Foot Trim" class="form-control" placeholder="%%FOOT_TRIM%%" 
        %%FOOT_STYLE%% value="%%FOOT_TRIM_V%%" >
    </div>
    <div class="col-sm-2"> 
        <input type="text" name="%%NAME%%_size" aria-label="Delivered Size" class="form-control" placeholder="%%DEL_SIZE%%" 
        %%DEL_SIZE_STYLE%% value="%%DEL_SIZE_V%%" >
    </div>
</div>