<div class="input-group mb-3">
    %%ROWS%%
</div>


<!--

<div class="row alt">
    <div class="col">%%PCS_CARTON%%</div>
    <div class="col">%%BACK_LIFT%%</div>
    <div class="col">%%FRONT_LIFT%%</div>
</div>
<div class="row alt">
    <div class="col">%%MAX_CARTON%%</div>
    <div class="col">%%MAX_HALF%%</div>
    <div class="col">%%MAX_FULL%%</div>
</div>
<div class="row alt">
    <div class="col">%%HALF_SKID_LIFTS_LAYER%%</div>
    <div class="col">%%FULL_SKID_LIFTS_LAYER%%</div>
</div>
<div class="row alt">
    <div class="col">%%FRONT_HALF_SKID_LAYERS%%</div>
    <div class="col">%%FRONT_FULL_SKID_LAYERS%%</div>
</div>
<div class="row alt">
    <div class="col">%%BACK_HALF_SKID_LAYERS%%</div>
    <div class="col">%%BACK_FULL_SKID_LAYERS%%</div>
</div> -->
